body {
  display: block;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #1a1a1a;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2.5rem;
  border-bottom: 1px solid #ffffff;
}

.name {
  margin: 0;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2.0rem;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.intro {
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 2000px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.handwritten {
  font-family: 'Caveat', cursive;
  font-size: 3rem;
}

.profile-pic {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  border-radius: 50%;
  object-fit: cover;
}

.icon-img {
  width: 35px;
  height: 35px;
  margin-right: 1rem;
  transition: transform 0.2s ease;
}


.intro-text h2 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.intro-text p {
  max-width: 600px;
  line-height: 1.5;
}

.icons a {
  margin-right: 0.3rem;
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
}

.featured {
  padding: 2rem;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.featured h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;
  max-width: 1000px;
}

.card {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 300px;
  overflow: hidden;
  padding-bottom: 1rem;
}

.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  margin: 1rem;
  font-size: 1.1rem;
}

.card p {
  margin: 0 1rem;
  color: #555;
}

footer {
  text-align: center;
  padding: 20px;
  color: #000000; 
  font-size: 20px;
  margin-top: 40px; 
}